
/*

Olin Baja Color Scheme

Primary Blue: #144663;
Dark Accent Blue: #00072E;
Light Accent Blue: #0630BF;
Neutral Gray: #191F29;
Darker Gray: #090F19;
Complementary Orange: #FF5E5C;

*/

h1,h2,h3 {
	line-height:1.2;
}

p {
	font-size: 1.2em;
}

h1,h2,h3,h4,h5,h6,p {
	color:white;
}

@media (min-width: 900px) {
	p {
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

* {
	margin: 0;
	font-family: 'Roboto Slab', serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
	background-color: #111;
	line-height:1.6;
}

.navbar-left {
	float:left;
}

.navbar-right {
	float:right;
}

input[disabled] {
	color: gray;
}

.navbar {
	background-color: #222;
	border: 0;
	border-radius: 0;
	margin:0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #000;
	color: #DDD;
}

.navbar-default .navbar-nav > li > a {
	color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #DDD;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
	color: #FFF;
}

.navbar-default .navbar-brand:hover {
	color: #DDD;
}

