#main {
	top:50px;
}

button.donate {
	padding:2rem;
	font-size: 18px;
	background-color: blue;
	width: 19rem;
	height: 8rem;
}

.footer {
	position: relative;
	font-size: 18px;
	text-align: center;
	width: 100%;
	background-color: white;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: salmon;
}

footer .footer-col {
    margin-bottom: 40px;
    margin-top:30px;
    height:10rem;
}

footer .footer-below {
    padding: 25px 0;
    background-color: red;
    color:#eee;
}

footer .footer-above a {
    color: #5BB7FD;
}