
#team-header {
	text-align: center;
	margin-bottom: 30px;
}

.members-header {
	margin-top: 50px;
	text-align: center;
	margin-bottom: 30px;
}

#team-blurb {
	text-align: center;
}

#team-blurb p {
	margin-bottom:20px;
}
