
.user-image {
	max-width:200px;
	max-height:200px;
	border-radius: 50%;
	display: block;
	margin:auto;
}

.user-container h3 {
	text-align: center;
}

.user-container p {
	margin-bottom: 0;
	text-align: center;
}

