<style type="text/css">
	.admin-table {
		width:80%;
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 20px;
	}
	.admin-table-row {
		height: 20px;
	}
	.admin-team-column-name {
		width: 50%;
		padding-left: 4px;
	}
	.admin-team-column-major {
		width: 20%;
		padding-left: 4px;
	}
	.admin-team-column-edit-purchase {
		width: 10%;
	}
	.admin-team-column-edit {
		width: 10%;
	}
	.admin-team-column-delete {
		width: 10%;
	}
</style>
<br><br><br>
<a href="/addDonor"><button>Edit Donors</button></a>
<br><br><br>
<a href="/uploadGallery"><button>Upload Gallery Images</button></a>
<br><br><br>
<table border="1" class="admin-table">
	<tr ng-repeat="user in vm.team" class="admin-table-row">
		<td class="admin-team-column-name"><user user="user"></user></td>
		<td class="admin-team-column-edit-purchase">
			<form id="make-admin-form">
				<p>Current title: {{ user.title }}</p>
				<input type="text" ng-model="user.newTitle">
				<input type="submit" value="Submit" ng-click="vm.edit(user, 'title', user.newTitle)">
			</form>
		</td>
		<td class="admin-team-column-edit-purchase">
			<form id="make-purchaser-form">
				<input type="submit" value="{{ user.shownInTeamPage == true ? 'Remove From Team Page' : 'Show In Team Page' }}" ng-click="vm.edit(user, 'shownInTeamPage', !user.shownInTeamPage)">
			</form>
			<form id="make-purchaser-form">
				<input type="submit" value="{{ user.teamCaptain == true ? 'Remove team captain' : 'Make team captain' }}" ng-click="vm.edit(user, 'teamCaptain', !user.teamCaptain)">
			</form>
			<form id="remove-purchaser-form">
				<input type="submit" value="{{ user.systemLead == true ? 'Remove system lead' : 'Make system lead' }}" ng-click="vm.edit(user, 'systemLead', !user.systemLead)">
			</form>
			<form id="remove-purchaser-form">
				<input type="submit" value="{{ user.purchaseManager == true ? 'Remove purchase manager' : 'Make purchase manager' }}" ng-click="vm.edit(user, 'purchaseManager', !user.purchaseManager)">
			</form>
			<form id="make-admin-form">
				<input type="submit" value="{{ user.admin == true ? 'Remove admin' : 'Make admin' }}" ng-click="vm.edit(user, 'admin', !user.admin)">
			</form>
		</td>
		<td class="admin-table-column-delete">
			<form id="delete-user-form">
				<input type="submit" value="Delete user" ng-click="vm.removeUser(user)">
			</form>
		</td>
	</tr>
</table>
