<div class = "loginPage">
<form novalidate class="simple-form">
  <p>{{ vm.errorMessage }}</p>
  <div class = "email">
  E-mail: <input type="email" ng-model="vm.user.email" /><br />
  </div>
  <div class = "password">
  Password: <input type="password" ng-model="vm.user.password" />
  </div>
  <input type="submit" ng-click="vm.submit(vm.user)" value="Login" class = "loginButton" />
</form>
<div class = "forgotLinks">
<p><a href='/forgotPassword'>Forgot password?</a></p><br>
<p><a href='/resetPassword'>Reset password.</a></p><br>
</div>
</div>