<h1>Make a Purchase Request</h1>
<form novalidate class="simple-form">
  Item name: <input type="text" ng-model="vm.purchase.item_name" /><br />
  Link to order: <input type="url" ng-model="vm.purchase.link" /><br />
  Price per unit: <input type="number" ng-model="vm.purchase.price" /><br />
  Quantity: <input type="number" ng-model="vm.purchase.count" /><br />
  Urgency:
  	<select ng-model="vm.purchase.urgency">
  	  <option value="More than one month">More than one month</option>
  	  <option value="Low">Low</option>
  	  <option value="Medium">Medium</option>
  	  <option value="High">High</option>
  	  <option value="Emergency">Emergency</option>
  	</select><br />
  Additional Info: <input type="text" ng-model="vm.purchase.info" /><br />
  <input type="submit" ng-click="vm.submit(vm.purchase)" />
</form>
