<!DOCTYPE html>
<html>
  <body>
    <h1>Image Upload Example</h1>
    <form enctype="multipart/form-data">
		<input type="file" ngf-select name="file" accept="image/*" name="image" ng-model="vm.newTeamImage.image" />
		<img ng-show="myForm.file.$valid" width='100' height='100' ngf-thumbnail="vm.newTeamImage.image" class="thumb"> <button ng-click="vm.newTeamImage.image = null" ng-show="vm.newTeamImage.image">Remove</button>
		<input type="submit" value="Submit" ng-click="vm.addTeamImage(vm.newTeamImage)" />
  	</form>
  </body>
</html>